<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frameworks Layout - Bulma</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link rel="stylesheet" href="../share.css">
  <style type="text/css">
    
  </style>
</head>
<body>
  <div class="layout">    
      <div id="header">
        <div class="section-hero">
          <a href="" title="ezcss"><img src="../logo.png" alt="ezcss" /></a>
        </div>        
      </div>      
      <div class="columns">
        <div id="main" class="column is-8 is-mobile content">
          <h2 class="title"><a href="https://bulma.io/documentation/layout/container/" target="_blank">Layout with Bulma</a></h2>
          <p>Bulma support</p>          
          <ol>
            <li>15ths-Based Units</li>
            <li>12ths-Based Units</li>
          </ol>
          <ul>
            <li>Header(3cols)</li>
            <li>Main(2cols)</li>
            <li>Sidebar(1cols)</li>
            <li>Footer(3cols)</li>
          </ul>
          <h3>Content A</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
          <h3>Content B</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
          <h3>Content C</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
        </div>
        <div id="sidebar" class="is-4 is-mobile content">
          <h3>Sidebar</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>
          <h4>Other content</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>        
        </div>                  
      </div>
    
      <div id="footer" class="content">
        <p class="footer__copyright">Copyright @2020 EZCSS</p>
      </div>    
  </div>
</body>
</html>