<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frameworks Layout - Milligram</title>
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">  
  <link rel="stylesheet" href="../share.css">
  <style type="text/css">
    
  </style>
</head>
<body>
  <div class="layout container">    
      <div id="header">
        <div class="section-hero">
          <a href="" title="ezcss"><img src="../logo.png" alt="ezcss" /></a>
        </div>        
      </div>      
      <div class="row">
        <div id="main" class="column column-67">
          <h2><a href="https://materializecss.com/grid.html" 
            target="_blank">Layout with Milligram</a></h2>            
            <p>Milligram support</p>          
            <ol>
              <li>12ths-Based Units</li>
            </ol>
            <ul>
              <li>Header(3cols)</li>
              <li>Main(2cols)</li>
              <li>Sidebar(1cols)</li>
              <li>Footer(3cols)</li>
            </ul>
            <h3>Content A</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
            <h3>Content B</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
            <h3>Content C</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
            
        </div>
        <div id="sidebar" class="column column-33">
          
          <h3>Sidebar</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>
          <h4>Other content</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>          
        </div>                  
      </div>
    
      <div id="footer" class="content">
        <p class="footer__copyright">Copyright @2020 EZCSS</p>
      </div>    
  </div>
</body>
</html>