<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frameworks Layout - SemanticUI</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../share.css">
  <style type="text/css">

  </style>
</head>
<body>
  <div class="layout">
      <div id="header">
        <div class="section-hero">
          <a href="" title="ezcss"><img src="../logo.png" alt="ezcss" /></a>
        </div>
      </div>
      <div class="ui column grid">
        <div id="main" class="ten wide column">
          <h2><a href="https://semantic-ui.com/examples/grid.html" target="_blank">Layout with SemanticUI</a></h2>
          <p>SemanticUI support</p>
          <ol>
            <li>16ths Based Units</li>
          </ol>
          <ul>
            <li>Header(3cols)</li>
            <li>Main(2cols)</li>
            <li>Sidebar(1cols)</li>
            <li>Footer(3cols)</li>
          </ul>
          <h3>Content A</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
          <h3>Content B</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
          <h3>Content C</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fugiat tempora blanditiis, maxime nemo excepturi quae magni enim amet accusantium doloremque pariatur ea sit ratione natus ipsum doloribus quisquam libero?</p>
        </div>
        <div id="sidebar" class="six wide column">
          <h3>Sidebar</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>
          <h4>Other content</h4>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, id rem ea provident incidunt natus ex doloremque ratione, voluptatem aliquam, officiis earum explicabo. Corporis, est dolorem unde rerum ducimus ab!</p>
        </div>
      </div>

      <div id="footer">
        <p class="footer__copyright">Copyright @2020 EZCSS</p>
      </div>
  </div>
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>
</html>